body {
    margin: 0;
    height: 100%;
}
.header {
    padding: 15px 0;
    background-color: #ffffff;
}
header.header-content.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
img {
    border: 1px solid #0bf116;
}
.log-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 89%;
    border: 0px solid green;
}
span.emp-text.emp-payroll {
    box-sizing: border-box;
}
span.emp-text {
    padding-left: 12px;
    display: flex;
    font-size: 22px;
    color: rgb(33, 138, 33)
}
span.emp-text.emp-payroll {
    color: black;
}